%wp-image-alignment {
	&.alignleft, &.alignright, &.aligncenter { margin-bottom: 20px; }
	
	&.alignleft { float: left; margin-right: 20px; }
	&.alignright { float: right; margin-left: 20px; }
	&.aligncenter { margin: 0 auto; }
}

img {
	@extend %wp-image-alignment;
}

.wp-caption {
	@extend %wp-image-alignment;
	
	.wp-caption-text {
		font-size: 0.85em;
		line-height: 1.5em;
	}
}