 #slides {
      display: none
    }

    .carousel-container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .carousel-container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .carousel-container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .carousel-container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .carousel-container {
        width: 1170px
      }
    }